.language-button {
    background-color: inherit;
    color: white;
    margin-top: 10px
}
.german-flag {
    background-image: url("../../assets/images/german.flag.png"); 
    background-size: cover;
    width: 45px;
    height: 30px;
}