<app-header></app-header>
<div class="container-fluid">

  <div class="row">
    <div id="home"  class="section">  
      <div class="center info">
        <h1 translate>title</h1> 
        <p translate>description1</p>
        <h3 translate>description2</h3>
      </div>
    </div>    
  </div>


  <div id="ourProduct" class="row section">
      <div class="container">
        <div class="section-title">
          <h1 translate>our_products</h1>
        </div>
        <div class="row info">
            <div class="col-xs-12 col-md-6"> 
              <p class="text-center" *ngFor="let type of leftSide">
                {{type}}
              </p >
            </div> 
            <div class="col-xs-12 col-md-6">
              <p class="text-center" *ngFor="let type of rightSide">
                {{type}}
              </p>              
            </div>   
          </div>
      </div>  
  </div>


  <div id="branches" class="row section">
      <div class="container">
          <div class="section-title">
            <h1 translate>our_branches</h1>
          </div>
      <div *ngFor="let branch of branches">
        <div class="col-lg-4 col-md-6 col-xs-12 text-center branch">
          <h2>{{branch.city}}</h2>
          <p><b>{{branch.name}}</b></p>
          <span *ngIf="branch.address">Addresse/ </span><span *ngIf="branch.address">{{branch.address}}</span>
          <br>
          <span>{{branch.zipOrt}}</span>    <span>{{branch.ort}}</span>
          <span *ngIf="branch.telephone">Telephone/ </span><span *ngIf="branch.telephone">{{branch.telephone}}</span>
          <br>
          <span>Mobile /</span><span>{{branch.mobile}}</span>
          <br>
          <span>Email/ </span><a  [href]="'mailto:' + branch.email + '/index.html'">{{branch.email}}</a>
        </div> 
      </div>
</div>   

  

